<h1>PawCare</h1>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Register pet name...">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Owner's #...">
  <input class="text-input" id="initial-date" type="date" placeholder="Initial care day...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</div>
